<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Calculator</title>
</head>
<body
	style="text-align: center; background-color: #5f9ea0">
	<h3 style="color: white;">
		<u>CALCULATE PERCENTAGE</u>
	</h3>
	<br>
	<form action="/per" method="post">
		<label>Enter the student name</label> 
		<input type="text" name="name" placeholder="Name" > <br>
		<br> <label>Enter 1st Subject Marks</label> <input type="number"
			name="num1" placeholder="Marks"> <br>
		<br> <label>Enter 2nd Subject Marks</label> <input type="number"
			name="num2" placeholder="Marks"> <br>
		<br> <label>Enter 3rd Subject Marks</label> <input type="number"
			name="num3" placeholder="Marks"> <br>
		<br> <label>Enter 4th Subject Marks</label> <input type="number"
			name="num4" placeholder="Marks"> <br>
		<br> <input type="submit" value="Calculate Percentage">
	</form>
</body>
</html>